/* Layout
================================================================================*/
.body__content {
	width: 1255px;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.content__main {
	float: none;
	width: 100%;
	position: relative;
	@include media-query(768px) {
		float: left;
		width: 690px;
		max-width: 100%;
		&.single {
			margin: 0 auto;
			float: none;
			position: relative;
  			left: -40px;
		}
		&.full {
			width: 100%;
		}
		&.contact {
			width: 603px;
			margin: 0 auto;
			float: none;
			position: relative;
		}
	}

}
.content__sidebar {
	float: none;
	width: 100%;
	position: relative;
	@include media-query(768px) {
		float: left;
		width: 35%;
	}
}
.col-sm {
	width: 100%;
	overflow: hidden;
	.body__content {
		width: 1255px;
		margin: 0 auto;
	}
}
.col-sm__left ,
.col-sm__right {
	max-width: 100%;
	@include media-query(945px) {
		max-width: 450px;
	}
}
.col-sm__left {
	float: left;
}
.col-sm__right {
	float: left;
	@include media-query(945px) {
		float: right;
	}
}