// Layout
//================================================================================
$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 0,
  gutter-position: inside,
);
$gutter: 0.5em;
$section-bottom-margin: 1em;
$aside-width: span(3);
// Colors
//================================================================================
// text colors
$color__font: #5b5c60;
$color__header: #803e96;
// link colors
$color__link: #784ea0;
$color__link-hover: darken($color__link, 15%);
$color__link-visited: $color__link;
// color pallete
$purple: #784ea0;
$lt_purple: #c1a0cb;
$lt_green: #9fbc26;
$yellow: #b8e027;
$pale_yellow: #f9fbed;
$orange: #ff7415;
$moroon: #3e3e3e;
$lt_moroon: #6d6e72;
$lt_grey: #f2f2f2;


// Typography
//================================================================================
$font-size__base: 16;
// The default font family.
$font-family__base: sans-serif !default;
// The font sizes for h1-h6.
$font-size__h1: 2    * $font-size__base !default;
$font-size__h2: 1.5  * $font-size__base !default;
$font-size__h3: 1.17 * $font-size__base !default;
$font-size__h4: 1    * $font-size__base !default;
$font-size__h5: 0.83 * $font-size__base !default;
$font-size__h6: 0.67 * $font-size__base !default;