/* Links
================================================================================*/
a {
	color: $color__link;
	text-decoration: none;
	transition: color 0.5s ease;
	&:hover,
	&:focus,
	&:active {
		transition: color 0.5s ease;
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}