/* Nav Menu
================================================================================*/
.nav__menu {
	list-style-type: none;
	padding: 0;
	display: none;
	ul {
		list-style-type: none;
		padding: 0;
	}
	&.horizontal {
		&.right {
			@include hor-list-pos(right);
		}
		&.left {
			@include hor-list-pos(left);
		}
		&.center {
			@include hor-list-pos(center);
		}
		li {
			vertical-align: top;
		}
	}
}
@import "mobile-menu/menu-dropdown";