/* Nav Menu
================================================================================*/
.nav {
	float: none;
	clear: both;
	background-color: $purple;
	height: 43px;
	line-height: 3em;
	position: relative;
	top: auto;
	margin-top: 3.2em;
	a {
		color: #fff;
		&:hover {
			color: $color__link-hover;
		}
	}
	@include media-query(768px) {
		float: right;
		clear: none;
		background-color: transparent;
		top: 24px;
		margin-top: 0;
		@include font-size(18);
	}
}
.nav__menu {
	list-style-type: none;
	padding: 0;
	ul {
		list-style-type: none;
		padding: 0;
	}
	&.horizontal {
		@include hor-list-pos(center);
		@include media-query(768px) {
		}
		li {
			vertical-align: top;
		}
		.menu-item-contact {
			display: none;
			@include media-query(768px) {
				display: inline-block;
			}
		}
	}
	&.right {
		@include hor-list-pos(center);
		@include media-query(768px) {
			@include hor-list-pos(right);
		}
	}
	li {
		height: 43px;
		position: relative;
		a {
			height: 43px;
			padding: 0 0.2em;
			display: block;
			@include media-query(480px) {
				padding: 0 1em;
			}
		}
	}
}
.body__footer {
	.nav {
		float: none;
		background-color: transparent;
		margin-top: 0;
		line-height: 4em;
		a {
			color: darken($color__font, 25%);
		}
		@include media-query(768px) {
			float: none;
			top: auto;
			@include font-size(21);
			line-height: 3em;
		}
	}
	.nav__menu {
		&.horizontal {
			@include hor-list-pos(center);
			.menu-item-contact {
				display: none;
				@include media-query(768px) {
					display: inline-block;
				}
			}
		}
	}
}
.nav__sub {
	margin-top: -3em;
  	margin-bottom: 2em;
  	text-align: left;
  	@include media-query(768px) {
		text-align: center; 
	}
	.nav__menu {
		border-bottom: 2px solid $yellow;
		text-align: left;
		display: block;
		padding-bottom: 1em;
		@include media-query(768px) {
			display: inline-block;
			text-align: center; 
			padding-bottom: 0;
		}
		li {
			height: auto;
			position: relative;
			line-height: 1.5;
			width: 100%;
			text-align: left;
			&.current_page_item {
				display: none;
			}
			a {
				height: auto;
				color: $color__font;
				font-weight: bold;
				padding-bottom: 0.5em;
				&:hover {
					color: darken( $color__font, 15% );
				}
				@include media-query(768px) {
					padding-bottom: 0; 
				}
			}
			@include media-query(768px) {
				height: 43px;
				width: auto;
				text-align: center;
				line-height: 2.7;
			}
		}
	}
}