/* Pages
================================================================================*/
.is-homepage {
	main {
		width: 100%;
		margin: 0;
	}
}
.not-homepage {
	main {
		margin-top: 0;
		border-radius: none;
		padding: 4em 15px;
		min-height: 295px;
		position: relative;
		background-color: #fff;
		@include media-query(768px) {
			margin-top: -295px;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			padding: 4em 6em;
		}
	}
}
.page-heading {
	@include font-size(45);
	margin-top: 0;
	&.heading__contact {
		@include font-size(65);
	}
}

.fp-box {
	padding: 4em 15px;
	p {
		@include font-size(21);
	}
}
.fp-box__two {
	background-color: $pale_yellow;
}
.fp-box__heading {
	@include font-size(65);
	text-transform: lowercase;
	text-align: left;
	margin: 0;
}
.fp-box__sub-heading {
	@include font-size(31);
	margin: 0;
}
.contact__info {
	width: 100%;
	padding: 1.5em 3.5em;
	background-color: $lt_grey;
	border-radius: 20px;
	text-transform: uppercase;
	@include font-size(19);
	li {
		display: block;
		border-right: none;
		padding: 0;
		margin-bottom: 0.5em;
		@include media-query(900px) {
			display: inline-block;
			border-right: 1px solid;
			padding: 1px 9px 1px 4px;
		}
		&:last-child {
			border-right: none;
		}
	}
	address {
		font-style: normal;
	}
	a {
		color: $color__font;
		&:hover {
			color: darken( $color__font, 15% );
		}
	}
	ul {
		padding: 1em 0 0;
		margin: 0;
		border-top: 1px solid $purple;
		display: inline-block;
	}
}